
SharePointAccessManagementSystem/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
SharePointAccessManagementSystem/.vs/ProjectEvaluation/sharepointaccessmanagementsystem.metadata.v5.1
SharePointAccessManagementSystem/.vs/ProjectEvaluation/sharepointaccessmanagementsystem.projects.v5.1
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/DesignTimeBuild/.dtbcache.v2
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/config/applicationhost.config
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/FileContentIndex/0236f9b8-c4fd-479f-93b5-d502bc707bfc.vsidx
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/FileContentIndex/92b3c2fc-71a1-42f9-9d8f-245270cc8c4b.vsidx
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/FileContentIndex/read.lock
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/FileContentIndex/e0542f26-f1ef-4a64-b975-48eab5d992a2.vsidx
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/FileContentIndex/658fedf0-0c60-49b2-bd79-4e8ba4dca853.vsidx
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/v17/.futdcache.v2
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/v17/.suo
SharePointAccessManagementSystem/bin/Debug/net6.0/appsettings.Development.json
SharePointAccessManagementSystem/bin/Debug/net6.0/appsettings.json
SharePointAccessManagementSystem/bin/Debug/net6.0/AutoMapper.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.OpenApi.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.deps.json
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.exe
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.pdb
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.runtimeconfig.json
SharePointAccessManagementSystem/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/_IsIncrementalBuild
SharePointAccessManagementSystem/obj/Debug/net6.0/apphost.exe
SharePointAccessManagementSystem/obj/Debug/net6.0/ref/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/refint/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.AssemblyInfo.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.AssemblyInfoInputs.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.assets.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.AssemblyReference.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.BuildWithSkipAnalyzers
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.CopyComplete
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.CoreCompileInputs.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.FileListAbsolute.txt
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.genruntimeconfig.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.GlobalUsings.g.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.MvcApplicationPartsAssemblyInfo.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.MvcApplicationPartsAssemblyInfo.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.pdb
SharePointAccessManagementSystem/obj/Debug/net6.0/staticwebassets.build.json
SharePointAccessManagementSystem/obj/project.assets.json
SharePointAccessManagementSystem/obj/project.nuget.cache
SharePointAccessManagementSystem/obj/SharePointAccessManagementSystem.csproj.nuget.dgspec.json
SharePointAccessManagementSystem/obj/SharePointAccessManagementSystem.csproj.nuget.g.props
SharePointAccessManagementSystem/obj/SharePointAccessManagementSystem.csproj.nuget.g.targets
SharePointAccessManagementSystem/obj/staticwebassets.pack.sentinel
UI/.editorconfig
UI/.vscode/extensions.json
UI/.vscode/launch.json
UI/.vscode/tasks.json
UI/angular.json
UI/karma.conf.js
UI/aspnetcore-https.js
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/FileContentIndex/read.lock
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/v17/.suo
SharePointAccessManagementSystem/bin/Debug/net6.0/appsettings.Development.json
SharePointAccessManagementSystem/bin/Debug/net6.0/appsettings.json
SharePointAccessManagementSystem/bin/Debug/net6.0/AutoMapper.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.OpenApi.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.deps.json
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.exe
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.pdb
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.runtimeconfig.json
SharePointAccessManagementSystem/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
SharePointAccessManagementSystem/Controllers/AccessController.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/_IsIncrementalBuild
SharePointAccessManagementSystem/obj/Debug/net6.0/apphost.exe
SharePointAccessManagementSystem/obj/Debug/net6.0/ref/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/refint/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.AssemblyInfo.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.AssemblyInfoInputs.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.assets.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.AssemblyReference.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.CopyComplete
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.CoreCompileInputs.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.FileListAbsolute.txt
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.genruntimeconfig.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.GlobalUsings.g.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.MvcApplicationPartsAssemblyInfo.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.MvcApplicationPartsAssemblyInfo.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.pdb
SharePointAccessManagementSystem/obj/Debug/net6.0/staticwebassets.build.json
SharePointAccessManagementSystem/obj/project.assets.json
SharePointAccessManagementSystem/obj/project.nuget.cache
SharePointAccessManagementSystem/obj/SharePointAccessManagementSystem.csproj.nuget.dgspec.json
SharePointAccessManagementSystem/obj/SharePointAccessManagementSystem.csproj.nuget.g.props
SharePointAccessManagementSystem/obj/SharePointAccessManagementSystem.csproj.nuget.g.targets
SharePointAccessManagementSystem/obj/staticwebassets.pack.sentinel
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/FileContentIndex/read.lock
SharePointAccessManagementSystem/.vs/SharePointAccessManagementSystem/v17/.suo
SharePointAccessManagementSystem/bin/Debug/net6.0/appsettings.Development.json
SharePointAccessManagementSystem/bin/Debug/net6.0/appsettings.json
SharePointAccessManagementSystem/bin/Debug/net6.0/AutoMapper.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Microsoft.OpenApi.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.deps.json
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.exe
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.pdb
SharePointAccessManagementSystem/bin/Debug/net6.0/SharePointAccessManagementSystem.runtimeconfig.json
SharePointAccessManagementSystem/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
SharePointAccessManagementSystem/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
SharePointAccessManagementSystem/Controllers/AccessController.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/_IsIncrementalBuild
SharePointAccessManagementSystem/obj/Debug/net6.0/apphost.exe
SharePointAccessManagementSystem/obj/Debug/net6.0/ref/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/refint/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.AssemblyInfo.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.AssemblyInfoInputs.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.assets.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.AssemblyReference.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.CopyComplete
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.CoreCompileInputs.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.csproj.FileListAbsolute.txt
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.dll
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.genruntimeconfig.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.GlobalUsings.g.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.MvcApplicationPartsAssemblyInfo.cache
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.MvcApplicationPartsAssemblyInfo.cs
SharePointAccessManagementSystem/obj/Debug/net6.0/SharePointAccessManagementSystem.pdb
SharePointAccessManagementSystem/obj/Debug/net6.0/staticwebassets.build.json
SharePointAccessManagementSystem/obj/project.assets.json
SharePointAccessManagementSystem/obj/project.nuget.cache
SharePointAccessManagementSystem/obj/SharePointAccessManagementSystem.csproj.nuget.dgspec.json
SharePointAccessManagementSystem/obj/SharePointAccessManagementSystem.csproj.nuget.g.props
SharePointAccessManagementSystem/obj/SharePointAccessManagementSystem.csproj.nuget.g.targets
SharePointAccessManagementSystem/obj/staticwebassets.pack.sentinel
SharePointAccessManagementSystem/obj/project.assets.json
